.vscode
__pycache__
*.pyc
dist
egg-info
.env
.pytest_cache
javad.egg-info
/utils
*_raw.pt
/docs/build

/spgdataset/.pypirc
/spgdataset/dist
/spgdataset/__pycache__
/spgdataset/*.egg-info
/spgdataset/stuff/
/spgdataset/.vscode/
/spgdataset/.pytest_cache/
/spgdataset/requirements.txt
/spgdataset/build/
/spgdataset/dist/